<section id="team" class="pb-5">
    <div class="container">
        <h4 class="section-title h1">Our-Services</h4>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 m10">
                <div class= "card">
                <div class="container-mine">
                    <img src="../../../assets/images/technical.avif" alt="Avatar" class="image">
                        <div class="card-title text-center"> Technology Staffing</div>
                    <div class="overlay">
                        <div class="text card-content">
                            Application Development, Cloud, Cybersecurity, Infrastructure Services, Data Management & Analytics
                        </div>
                    </div>
                  </div>
            </div>
            </div>
            <!-- Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 m10">
                <div class="card">
                <div class="container-mine">

                    <img src="../../../assets/images/professional.avif" alt="Avatar" class="image">
                    <div class="card-title text-center">Industry Specialized</div>
                        <div class="overlay">
                            <div class="text card-content">
                                Insurance, Banking, Legal
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 m10">
                <div class="card">
                    <div class="container-mine">
                        <img src="../../../assets/images/banking.webp" alt="Avatar" class="image">
                        <div class="card-title text-center"> Professional Staffing</div>
                        <div class="overlay">
                            <div class="text card-content">
                                Engineering, Finance
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            
            
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 m10">
                <div class="card">
                    <div class="container-mine">
                        <!-- <h5 class="cardboxtitle"> AI/ML Services</h5> -->
                        <img src="../../../assets/images/staff-hiring.avif" alt="Avatar" class="image">
                        <div class="card-title text-center"> Staff Staffing</div>
                        
                        <div class="overlay">
                            <div class="text">
                                Direct Hire Staffing, Permanent Hire Staffing, Temporary Hire Staffing
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4 m10">
                <div class="container-mine">
                    <div class="card">
                        <img src="../../../assets/images/customer_support.jpg" alt="Avatar" class="image">
                        <div class="card-title text-center"> 24/7 Support</div>
                            <div class="overlay">
                                <div class="text">
                                    24*7 Support 
                                </div>
                            </div>
                        </div>                        
                </div>
            </div>
            <!-- Team member -->
            <!-- Team member -->
            <!-- <div class="col-xs-12 col-sm-6 col-md-4 m10">
                <div class="container-mine">
                    <img src="../../../assets/images/bg-1.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                    <div class="text">Hello World</div>
                    </div>
                </div>
            </div> -->
            <!-- Team member -->

        </div>
    </div>
</section>
<!-- Team -->