<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            home page
             <app-comments [currentUserId]="user" ></app-comments> 
        </div>
    </div>
</div>
 -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12"> -->
        <div class="banner d-flex justify-content-center align-items-center home-content">
            <div class="content text-center  " >
                <h1 class="home-center">
                    Staffing Folks
                </h1>
                <p class="my-p"> 
                    Recruitment Company
                </p>
                <button 
                    mat-raised-button color="primary"
                    routerLink="/our-services"
                    class="links m5"
                    > Our-Services
                </button>
               
            </div>        
        </div>
        <!-- </div>
    </div>
</div> -->